dt{
	font-size: 2em;
	color:white;
	background: #B33;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
	margin-top: 1em;
	margin-bottom: 0.2em;
}
dl dt:first-child
{
	margin-top: 0;
}
table{
	width: 100%;
	border-bottom: 3px solid brown;
	border-collapse:collapse;
}
.icon,.id,.skill-name,.skill-cd,.jx{
	border-top: 3px solid brown;
}
.icon{
	width: 110px;
	height: 120px;
}
.id{
	width: 200px;
}
.skill-name{
	width: 200px;
}
.skill-cd{
	width: 130px;
}
.id,.name,.skill-name,.skill-cd,.skill-detail,.jx{
	border-left: 1px solid brown;
	padding-left: 5px;
}
.name,.skill-detail{
	border-top: 1px solid brown;
}
.icon-in-txt
{
	width:30px;
	height:30px;
}
img{
	vertical-align: middle;
}