.gamebg{
	background-image: url(images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	color:white;
    text-shadow: 0 0 3px black;
}
.gamebg table{
	background: rgba(200,200,200,0.4);
}
.gamebg .link{
	color: white;
}
dt{
	font-size: 2em;
	color:white;
	background: #B33;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
	margin-top: 1em;
	margin-bottom: 0.2em;
}
dl dt:first-child
{
	margin-top: 0;
}
table{
	width: 100%;
	border-bottom: 3px solid brown;
	border-collapse:collapse;
}
.icon,.id,.rare,.type,.skill-name,.skill-cd,.jx,.bonus{
	border-top: 3px solid brown;
}
.icon{
	width: 110px;
	padding-left:5px;
}
.id{
	width: 70px;
}
.rare{
	width: 30px;
}
.type{
	width: 100px;
}
.skill-name{
	width: 200px;
}
.skill-cd{
	width: 130px;
}
.jx.wepon{
	background: rgba(150,70,70,0.8);
}
.bonus{
	width: 100px;
}
.id,.name,.rare,.type,.skill-name,.skill-cd,.skill-detail,.jx,.bonus{
	border-left: 1px solid brown;
	padding-left: 5px;
}
.name,.skill-detail{
	border-top: 1px solid brown;
}
.icon-in-txt
{
	width:30px;
	height:30px;
}
img{
	vertical-align: middle;
}
.bouns-name{
	width: 50px;
	display: inline-block;
	text-align: right;
}
.bouns-positive{
	color: #FF73B7;
}
.bouns-negative{
	color: rgb(35, 20, 255);
}
.icon-link{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.rare-star{
    text-shadow: none;
}
/*宠物头像所用的图片*/
.pet-cards-1{background-image: url(images/cards/CARDS_001.PNG);}
.pet-cards-2{background-image: url(images/cards/CARDS_002.PNG);}
.pet-cards-3{background-image: url(images/cards/CARDS_003.PNG);}
.pet-cards-4{background-image: url(images/cards/CARDS_004.PNG);}
.pet-cards-5{background-image: url(images/cards/CARDS_005.PNG);}
.pet-cards-6{background-image: url(images/cards/CARDS_006.PNG);}
.pet-cards-7{background-image: url(images/cards/CARDS_007.PNG);}
.pet-cards-8{background-image: url(images/cards/CARDS_008.PNG);}
.pet-cards-9{background-image: url(images/cards/CARDS_009.PNG);}
.pet-cards-10{background-image: url(images/cards/CARDS_010.PNG);}
.pet-cards-11{background-image: url(images/cards/CARDS_011.PNG);}
.pet-cards-12{background-image: url(images/cards/CARDS_012.PNG);}
.pet-cards-13{background-image: url(images/cards/CARDS_013.PNG);}
.pet-cards-14{background-image: url(images/cards/CARDS_014.PNG);}
.pet-cards-15{background-image: url(images/cards/CARDS_015.PNG);}
.pet-cards-16{background-image: url(images/cards/CARDS_016.PNG);}
.pet-cards-17{background-image: url(images/cards/CARDS_017.PNG);}
.pet-cards-18{background-image: url(images/cards/CARDS_018.PNG);}
.pet-cards-19{background-image: url(images/cards/CARDS_019.PNG);}
.pet-cards-20{background-image: url(images/cards/CARDS_020.PNG);}
.pet-cards-21{background-image: url(images/cards/CARDS_021.PNG);}
.pet-cards-22{background-image: url(images/cards/CARDS_022.PNG);}
.pet-cards-23{background-image: url(images/cards/CARDS_023.PNG);}
.pet-cards-24{background-image: url(images/cards/CARDS_024.PNG);}
.pet-cards-25{background-image: url(images/cards/CARDS_025.PNG);}
.pet-cards-26{background-image: url(images/cards/CARDS_026.PNG);}
.pet-cards-27{background-image: url(images/cards/CARDS_027.PNG);}
.pet-cards-28{background-image: url(images/cards/CARDS_028.PNG);}
.pet-cards-29{background-image: url(images/cards/CARDS_029.PNG);}
.pet-cards-30{background-image: url(images/cards/CARDS_030.PNG);}
.pet-cards-31{background-image: url(images/cards/CARDS_031.PNG);}
.pet-cards-32{background-image: url(images/cards/CARDS_032.PNG);}
.pet-cards-33{background-image: url(images/cards/CARDS_033.PNG);}
.pet-cards-34{background-image: url(images/cards/CARDS_034.PNG);}
.pet-cards-35{background-image: url(images/cards/CARDS_035.PNG);}
.pet-cards-36{background-image: url(images/cards/CARDS_036.PNG);}
.pet-cards-37{background-image: url(images/cards/CARDS_037.PNG);}
.pet-cards-38{background-image: url(images/cards/CARDS_038.PNG);}
.pet-cards-39{background-image: url(images/cards/CARDS_039.PNG);}
.pet-cards-40{background-image: url(images/cards/CARDS_040.PNG);}
.pet-cards-41{background-image: url(images/cards/CARDS_041.PNG);}
.pet-cards-42{background-image: url(images/cards/CARDS_042.PNG);}
.pet-cards-43{background-image: url(images/cards/CARDS_043.PNG);}
.pet-cards-44{background-image: url(images/cards/CARDS_044.PNG);}
.pet-cards-45{background-image: url(images/cards/CARDS_045.PNG);}
.pet-cards-46{background-image: url(images/cards/CARDS_046.PNG);}
.pet-cards-47{background-image: url(images/cards/CARDS_047.PNG);}
.pet-cards-48{background-image: url(images/cards/CARDS_048.PNG);}
.pet-cards-49{background-image: url(images/cards/CARDS_049.PNG);}
.pet-cards-50{background-image: url(images/cards/CARDS_050.PNG);}
.pet-cards-51{background-image: url(images/cards/CARDS_051.PNG);}
.pet-cards-52{background-image: url(images/cards/CARDS_052.PNG);}
.pet-cards-53{background-image: url(images/cards/CARDS_053.PNG);}
.pet-cards-54{background-image: url(images/cards/CARDS_054.PNG);}
.pet-cards-55{background-image: url(images/cards/CARDS_055.PNG);}
.pet-cards-56{background-image: url(images/cards/CARDS_056.PNG);}
.pet-cards-57{background-image: url(images/cards/CARDS_057.PNG);}
.pet-cards-58{background-image: url(images/cards/CARDS_058.PNG);}
.pet-cards-59{background-image: url(images/cards/CARDS_059.PNG);}
.pet-cards-60{background-image: url(images/cards/CARDS_060.PNG);}
.pet-cards-61{background-image: url(images/cards/CARDS_061.PNG);}
.pet-cards-62{background-image: url(images/cards/CARDS_062.PNG);}
.pet-cards-63{background-image: url(images/cards/CARDS_063.PNG);}
.pet-cards-64{background-image: url(images/cards/CARDS_064.PNG);}
.pet-cards-65{background-image: url(images/cards/CARDS_065.PNG);}
.pet-cards-66{background-image: url(images/cards/CARDS_066.PNG);}
.pet-cards-67{background-image: url(images/cards/CARDS_067.PNG);}
.pet-cards-68{background-image: url(images/cards/CARDS_068.PNG);}
.pet-cards-69{background-image: url(images/cards/CARDS_069.PNG);}
.pet-cards-70{background-image: url(images/cards/CARDS_070.PNG);}
.pet-cards-71{background-image: url(images/cards/CARDS_071.PNG);}
.pet-cards-72{background-image: url(images/cards/CARDS_072.PNG);}
.pet-cards-73{background-image: url(images/cards/CARDS_073.PNG);}
.pet-cards-74{background-image: url(images/cards/CARDS_074.PNG);}
.pet-cards-75{background-image: url(images/cards/CARDS_075.PNG);}
.pet-cards-76{background-image: url(images/cards/CARDS_076.PNG);}
.pet-cards-77{background-image: url(images/cards/CARDS_077.PNG);}
.pet-cards-78{background-image: url(images/cards/CARDS_078.PNG);}
.pet-cards-79{background-image: url(images/cards/CARDS_079.PNG);}
.pet-cards-80{background-image: url(images/cards/CARDS_080.PNG);}
.pet-cards-81{background-image: url(images/cards/CARDS_081.PNG);}
.pet-cards-82{background-image: url(images/cards/CARDS_082.PNG);}
.pet-cards-83{background-image: url(images/cards/CARDS_083.PNG);}
.pet-cards-84{background-image: url(images/cards/CARDS_084.PNG);}
.pet-cards-85{background-image: url(images/cards/CARDS_085.PNG);}
.pet-cards-86{background-image: url(images/cards/CARDS_086.PNG);}
.pet-cards-87{background-image: url(images/cards/CARDS_087.PNG);}
.pet-cards-88{background-image: url(images/cards/CARDS_088.PNG);}
.pet-cards-89{background-image: url(images/cards/CARDS_089.PNG);}
.pet-cards-90{background-image: url(images/cards/CARDS_090.PNG);}
.pet-cards-91{background-image: url(images/cards/CARDS_091.PNG);}
.pet-cards-92{background-image: url(images/cards/CARDS_092.PNG);}
.pet-cards-93{background-image: url(images/cards/CARDS_093.PNG);}
.pet-cards-94{background-image: url(images/cards/CARDS_094.PNG);}
.pet-cards-95{background-image: url(images/cards/CARDS_095.PNG);}
.pet-cards-96{background-image: url(images/cards/CARDS_096.PNG);}
.pet-cards-97{background-image: url(images/cards/CARDS_097.PNG);}
.pet-cards-98{background-image: url(images/cards/CARDS_098.PNG);}
.pet-cards-99{background-image: url(images/cards/CARDS_099.PNG);}
/*宠物在图中编号对应的坐标*/
.pet-cards-index-x-0{background-position-x:0px;}
.pet-cards-index-x-1{background-position-x:-102px;}
.pet-cards-index-x-2{background-position-x:-204px;}
.pet-cards-index-x-3{background-position-x:-306px;}
.pet-cards-index-x-4{background-position-x:-408px;}
.pet-cards-index-x-5{background-position-x:-510px;}
.pet-cards-index-x-6{background-position-x:-612px;}
.pet-cards-index-x-7{background-position-x:-714px;}
.pet-cards-index-x-8{background-position-x:-816px;}
.pet-cards-index-x-9{background-position-x:-918px;}
.pet-cards-index-y-0{background-position-y:0px;}
.pet-cards-index-y-1{background-position-y:-102px;}
.pet-cards-index-y-2{background-position-y:-204px;}
.pet-cards-index-y-3{background-position-y:-306px;}
.pet-cards-index-y-4{background-position-y:-408px;}
.pet-cards-index-y-5{background-position-y:-510px;}
.pet-cards-index-y-6{background-position-y:-612px;}
.pet-cards-index-y-7{background-position-y:-714px;}
.pet-cards-index-y-8{background-position-y:-816px;}
.pet-cards-index-y-9{background-position-y:-918px;}
/*怪物属性*/
.property,.subproperty{
	position:absolute;
	left:0;top:0;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(images/CARDFRAME2.PNG);
	background-position: 100px 100px; /*都不显示*/
}
.property-0{
	background-position: 0 0; /*火*/
}
.property-1{
	background-position: -102px 0; /*水*/
}
.property-2{
	background-position: -204px 0; /*木*/
}
.property-3{
	background-position: -306px 0; /*光*/
}
.property-4{
	background-position: -408px 0; /*暗*/
}
.subproperty-0{
	background-position: 0 -104px; /*火*/
}
.subproperty-1{
	background-position: -102px -104px; /*水*/
}
.subproperty-2{
	background-position: -204px -104px; /*木*/
}
.subproperty-3{
	background-position: -306px -104px; /*光*/
}
.subproperty-4{
	background-position: -408px -104px; /*暗*/
}
/*宝珠*/
.block-box-real
{
	width:32px;height:32px;
    display: inline-block;
    vertical-align: middle;
}
.block-name{
	font-size:0;
    line-height:0;
    position: absolute;
}
.block-box{
	width:104px;height:104px;
    left: -36px;top: -36px;
    position: relative;
    transform: scale(0.3077);
}
/*所有宝珠层级的通用属性*/
.block,.blockCBlight{
	width:100%;height:100%;
	box-sizing: border-box;
	background-origin:content-box;
	background-clip:content-box;
}
/*宝珠内部元素*/
.block,
.blockCBp,.block-fire-1,.block-fire-2,
.block-1 .block,.block-3 .block,.block-5 .block,.block-7 .block,.block-9 .block,.block-11 .block,
.block-lock .blockLock{
	background-image: url(images/BLOCK2.PNG);
}
.block,.blockCBlight,.blockLock,.blockCBp,.block-fire-1,.block-fire-2{
    position: absolute;
    left:0px;
    top:0px;
}
/*锁珠锁头*/
.block-lock .blockLock{
    width:43px;height:52px;
    background-position: -158px -286px;
}
.blockCBlight{
	display: none;
}
.blockCBp,.block-fire-1,.block-fire-2{
	display: none;
}
/*点灯的光亮*/
/*亮光动画*/
@keyframes light
{
	0% {background-position: -200px -200px;}
	90% {background-position: 0px 0px;}
	100% {background-position: 0px 0px;}
}
.block-1 .blockCBlight,.block-3 .blockCBlight,.block-5 .blockCBlight,.block-7 .blockCBlight,.block-9 .blockCBlight,.block-11 .blockCBlight{
    display: inline-block;
	background-image: linear-gradient(to bottom right, rgba(255,255,255,0) 33%, rgba(255,255,255,0.3) 38%, rgba(255,255,255,0.62) 43%, rgba(255,255,255,0.73) 50%, rgba(255,255,255,0.62) 57%, rgba(255,255,255,0.3) 62%, rgba(255,255,255,0) 67%);
    background-size: 300px 300px;
    background-position: -100px -100px;
	animation: light 1.5s linear infinite;
    
    mask-image: url(images/BLOCK2.PNG);
    mask-clip: content-box;
    mask-origin: content-box;
}
/*点灯的加号*/
.block-1 .blockCBp,.block-3 .blockCBp,.block-5 .blockCBp,.block-7 .blockCBp,.block-9 .blockCBp,.block-11 .blockCBp{
    display: inline-block;
    left:unset;
    top:unset;
    right:0;
    bottom:0;
    width:54px;height:54px;
     /*加号图片偏移*/
    background-position: -418px -106px;
}
.block-0 .block{ /*火珠*/
	background-position: -2px -2px;
}
.block-1 .block{ /*强化火珠*/
	background-position: 0 0;
}
.block-1 .blockCBlight{
	mask-position: 0 0;
}
.block-2 .block{ /*水珠*/
	background-position: -104px 0;
}
.block-3 .block{ /*强化水珠*/
	background-position: -104px 0;
}
.block-3 .blockCBlight{
	mask-position: -104px 0;
}
.block-4 .block{ /*木珠*/
	background-position: -208px 0;
}
.block-5 .block{ /*强化木珠*/
	background-position: -208px 0;
}
.block-5 .blockCBlight{
	mask-position: -208px 0;
}
.block-6 .block{ /*光珠*/
	background-position: -312px 0;
}
.block-7 .block{ /*强化光珠*/
	background-position: -312px 0;
}
.block-7 .blockCBlight{
	mask-position: -312px 0;
}
.block-8 .block{ /*暗珠*/
	background-position: 0 -104px;
}
.block-9 .block{ /*强化暗珠*/
	background-position: 0 -104px;
}
.block-9 .blockCBlight{
	mask-position: 0 -104px;
}
.block-10 .block{ /*心珠*/
	padding: 8px;
	background-position: -104px -104px;
}
.block-11 .block{ /*强化心珠*/
	padding: 8px;
	background-position: -104px -104px;
}
.block-11 .blockCBlight{
	padding: 8px;
	mask-position: -104px -104px;
}
.block-12 .block{ /*废珠*/
	padding: 9px;
	background-position: -192px -104px;
}
/*炸弹动画*/
@keyframes bomb
{
	0% {transform:scale(0.93,1);}
	25% {transform:scale(0.95,0.90);}
	50% {transform:scale(0.93,1);}
	75% {transform:scale(1,0.90);}
	100% {transform:scale(0.93,1);}
}
.block-13 .block{ /*炸弹*/
    mask:none;
	padding: 0 9px;
	background-position: -416px 0;
	animation: bomb 4s linear infinite;
}
.block-13 .blockCBlight{
    display:none;
}
.block-13 .blockCBp{ /*炸弹脸*/
    display: inline-block;
    left:19px;
    top:56px;
    width:66px;height:38px;
	background-position: -156px -192px;
}
 /*炸弹火花*/
@keyframes fire
{
	0% {opacity:0; transform:rotate(0) scale(0.8,1);}
	5% {opacity:1;}
	20% {opacity:1;}
	30% {opacity:0;}
	40% {opacity:1;}
	50% {opacity:0;transform:rotate(180deg) scale(1,0.8);}
	60% {opacity:1;}
	70% {opacity:0;}
	80% {opacity:1;}
	90% {opacity:1;}
	100% {opacity:0;transform:rotate(360deg) scale(0.8,1);}
}
.block-13 .block-fire-1{
    display: inline-block;
    left: 40px; top: -10px;
    width:44px;height:34px;
	background-position: -158px -382px;
	transform-origin: 24px 16px;
	animation: fire 0.5s linear infinite;
}
.block-13 .block-fire-2{
    display: inline-block;
    left: 48px; top: -7px;
    width:33px;height:28px;
	background-position: -418px -162px;
	transform-origin: 15px 14px;
	animation: fire 0.3s linear infinite 0.2s reverse;
}
.block-14 .block{ /*毒珠*/
	padding: 5px;
	background-position: 0 -416px;
}
.block-15 .block{ /*剧毒*/
    mask:none;
	background-position: 0 -208px;
}
.block-15 .blockCBlight,.block-15 .blockCBp{
    display:none;
}
/*觉醒和类型*/
.awoken-icon,.type-icon{
	display:inline-block;
	width:32px;height:32px;
    vertical-align: middle;
}
/*觉醒*/
.awoken-icon{
    background-image: url(images/awoken.png);
}
.awoken-0{/*HP+*/
	background-position: 0px -32px;
}
.awoken-1{/*攻击+*/
	background-position: 0px -64px;
}
.awoken-2{/*回复+*/
	background-position: 0px -96px;
}
.awoken-3{/*火盾*/
	background-position: 0px -128px;
}
.awoken-4{/*水盾*/
	background-position: 0px -160px;
}
.awoken-5{/*木盾*/
	background-position: 0px -192px;
}
.awoken-6{/*光盾*/
	background-position: 0px -224px;
}
.awoken-7{/*暗盾*/
	background-position: 0px -256px;
}
.awoken-8{/*自回*/
	background-position: 0px -288px;
}
.awoken-9{/*防封*/
	background-position: 0px -320px;
}
.awoken-10{/*防暗*/
	background-position: 0px -352px;
}
.awoken-11{/*防废*/
	background-position: 0px -384px;
}
.awoken-12{/*防毒*/
	background-position: 0px -416px;
}
.awoken-13{/*火+*/
	background-position: 0px -448px;
}
.awoken-14{/*水+*/
	background-position: 0px -480px;
}
.awoken-15{/*木+*/
	background-position: 0px -512px;
}
.awoken-16{/*光+*/
	background-position: 0px -544px;
}
.awoken-17{/*暗+*/
	background-position: 0px -576px;
}
.awoken-18{/*手指*/
	background-position: 0px -608px;
}
.awoken-19{/*心解*/
	background-position: 0px -640px;
}
.awoken-20{/*SB*/
	background-position: 0px -672px;
}
.awoken-21{/*火横*/
	background-position: 0px -704px;
}
.awoken-22{/*水横*/
	background-position: 0px -736px;
}
.awoken-23{/*木横*/
	background-position: 0px -768px;
}
.awoken-24{/*光横*/
	background-position: 0px -800px;
}
.awoken-25{/*暗横*/
	background-position: 0px -832px;
}
.awoken-26{/*U*/
	background-position: 0px -864px;
}
.awoken-27{/*SX*/
	background-position: 0px -896px;
}
.awoken-28{/*心+*/
	background-position: 0px -928px;
}
.awoken-29{/*协力*/
	background-position: 0px -960px;
}
.awoken-30{/*龙杀*/
	background-position: 0px -992px;
}
.awoken-31{/*神杀*/
	background-position: 0px -1024px;
}
.awoken-32{/*恶魔杀*/
	background-position: 0px -1056px;
}
.awoken-33{/*机杀*/
	background-position: 0px -1088px;
}
.awoken-34{/*平衡杀*/
	background-position: 0px -1120px;
}
.awoken-35{/*攻击杀*/
	background-position: 0px -1152px;
}
.awoken-36{/*体力杀*/
	background-position: 0px -1184px;
}
.awoken-37{/*回复杀*/
	background-position: 0px -1216px;
}
.awoken-38{/*进化杀*/
	background-position: 0px -1248px;
}
.awoken-39{/*觉醒杀*/
	background-position: 0px -1280px;
}
.awoken-40{/*强化杀*/
	background-position: 0px -1312px;
}
.awoken-41{/*卖钱杀*/
	background-position: 0px -1344px;
}
.awoken-42{/*7c*/
	background-position: 0px -1376px;
}
.awoken-43{/*5色破防*/
	background-position: 0px -1408px;
}
.awoken-44{/*心追*/
	background-position: 0px -1440px;
}
.awoken-45{/*全体HP*/
	background-position: 0px -1472px;
}
.awoken-46{/*全体回复*/
	background-position: 0px -1504px;
}
.awoken-47{/*破无效*/
	background-position: 0px -1536px;
}
.awoken-48{/*武器觉醒*/
	background-position: 0px -1568px;
}
.awoken-49{/*方块心追*/
	background-position: 0px -1600px;
}
.awoken-50{/*5色溜*/
	background-position: 0px -1632px;
}
.awoken-51{/*大防封*/
	background-position: 0px -1664px;
}
.awoken-52{/*大手指*/
	background-position: 0px -1696px;
}
.awoken-53{/*防云*/
	background-position: 0px -1728px;
}
.awoken-54{/*防封条*/
	background-position: 0px -1760px;
}
.awoken-55{/*大SB*/
	background-position: 0px -1792px;
}
.awoken-56{/*满血强化*/
	background-position: 0px -1824px;
}
.awoken-57{/*下半血强化*/
	background-position: 0px -1856px;
}
.awoken-58{/*L盾*/
	background-position: 0px -1888px;
}
.awoken-59{/*L解锁*/
	background-position: 0px -1920px;
}
.awoken-60{/*10c*/
	background-position: 0px -1952px;
}
.awoken-61{/*c珠*/
	background-position: 0px -1984px;
}
.awoken-62{/*语音*/
	background-position: 0px -2016px;
}
.awoken-63{/*奖励增加*/
	background-position: 0px -2048px;
}
.awoken-64{/*HP-*/
	background-position: 0px -2080px;
}
.awoken-65{/*攻击-*/
	background-position: 0px -2112px;
}
.awoken-66{/*回复-*/
	background-position: 0px -2144px;
}
/*类型*/
.type-icon{
    background-image: url(images/type.png);
}
.type-0{/*龙*/
	background-position: 0px 0px;
}
.type-1{/*神*/
	background-position: 0px -32px;
}
.type-2{/*恶魔*/
	background-position: 0px -64px;
}
.type-3{/*机械*/
	background-position: 0px -96px;
}
.type-4{/*平衡*/
	background-position: 0px -128px;
}
.type-5{/*攻击*/
	background-position: 0px -160px;
}
.type-6{/*体力*/
	background-position: 0px -192px;
}
.type-7{/*回复*/
	background-position: 0px -224px;
}
.type-8{/*进化用*/
	background-position: 0px -256px;
}
.type-9{/*能力觉醒用*/
	background-position: 0px -288px;
}
.type-10{/*强化合成用*/
	background-position: 0px -320px;
}
.type-11{/*贩卖用*/
	background-position: 0px -352px;
}
.type-12{/*特殊*/
	background-position: 0px -384px;
}