body{
	background-image: url(images/bg.webp);
}
.pet-cards-1{background-image: url(images/cards/CARDS_001.webp);}
.pet-cards-2{background-image: url(images/cards/CARDS_002.webp);}
.pet-cards-3{background-image: url(images/cards/CARDS_003.webp);}
.pet-cards-4{background-image: url(images/cards/CARDS_004.webp);}
.pet-cards-5{background-image: url(images/cards/CARDS_005.webp);}
.pet-cards-6{background-image: url(images/cards/CARDS_006.webp);}
.pet-cards-7{background-image: url(images/cards/CARDS_007.webp);}
.pet-cards-8{background-image: url(images/cards/CARDS_008.webp);}
.pet-cards-9{background-image: url(images/cards/CARDS_009.webp);}
.pet-cards-10{background-image: url(images/cards/CARDS_010.webp);}
.pet-cards-11{background-image: url(images/cards/CARDS_011.webp);}
.pet-cards-12{background-image: url(images/cards/CARDS_012.webp);}
.pet-cards-13{background-image: url(images/cards/CARDS_013.webp);}
.pet-cards-14{background-image: url(images/cards/CARDS_014.webp);}
.pet-cards-15{background-image: url(images/cards/CARDS_015.webp);}
.pet-cards-16{background-image: url(images/cards/CARDS_016.webp);}
.pet-cards-17{background-image: url(images/cards/CARDS_017.webp);}
.pet-cards-18{background-image: url(images/cards/CARDS_018.webp);}
.pet-cards-19{background-image: url(images/cards/CARDS_019.webp);}
.pet-cards-20{background-image: url(images/cards/CARDS_020.webp);}
.pet-cards-21{background-image: url(images/cards/CARDS_021.webp);}
.pet-cards-22{background-image: url(images/cards/CARDS_022.webp);}
.pet-cards-23{background-image: url(images/cards/CARDS_023.webp);}
.pet-cards-24{background-image: url(images/cards/CARDS_024.webp);}
.pet-cards-25{background-image: url(images/cards/CARDS_025.webp);}
.pet-cards-26{background-image: url(images/cards/CARDS_026.webp);}
.pet-cards-27{background-image: url(images/cards/CARDS_027.webp);}
.pet-cards-28{background-image: url(images/cards/CARDS_028.webp);}
.pet-cards-29{background-image: url(images/cards/CARDS_029.webp);}
.pet-cards-30{background-image: url(images/cards/CARDS_030.webp);}
.pet-cards-31{background-image: url(images/cards/CARDS_031.webp);}
.pet-cards-32{background-image: url(images/cards/CARDS_032.webp);}
.pet-cards-33{background-image: url(images/cards/CARDS_033.webp);}
.pet-cards-34{background-image: url(images/cards/CARDS_034.webp);}
.pet-cards-35{background-image: url(images/cards/CARDS_035.webp);}
.pet-cards-36{background-image: url(images/cards/CARDS_036.webp);}
.pet-cards-37{background-image: url(images/cards/CARDS_037.webp);}
.pet-cards-38{background-image: url(images/cards/CARDS_038.webp);}
.pet-cards-39{background-image: url(images/cards/CARDS_039.webp);}
.pet-cards-40{background-image: url(images/cards/CARDS_040.webp);}
.pet-cards-41{background-image: url(images/cards/CARDS_041.webp);}
.pet-cards-42{background-image: url(images/cards/CARDS_042.webp);}
.pet-cards-43{background-image: url(images/cards/CARDS_043.webp);}
.pet-cards-44{background-image: url(images/cards/CARDS_044.webp);}
.pet-cards-45{background-image: url(images/cards/CARDS_045.webp);}
.pet-cards-46{background-image: url(images/cards/CARDS_046.webp);}
.pet-cards-47{background-image: url(images/cards/CARDS_047.webp);}
.pet-cards-48{background-image: url(images/cards/CARDS_048.webp);}
.pet-cards-49{background-image: url(images/cards/CARDS_049.webp);}
.pet-cards-50{background-image: url(images/cards/CARDS_050.webp);}
.pet-cards-51{background-image: url(images/cards/CARDS_051.webp);}
.pet-cards-52{background-image: url(images/cards/CARDS_052.webp);}
.pet-cards-53{background-image: url(images/cards/CARDS_053.webp);}
.pet-cards-54{background-image: url(images/cards/CARDS_054.webp);}
.pet-cards-55{background-image: url(images/cards/CARDS_055.webp);}
.pet-cards-56{background-image: url(images/cards/CARDS_056.webp);}
.pet-cards-57{background-image: url(images/cards/CARDS_057.webp);}
.pet-cards-58{background-image: url(images/cards/CARDS_058.webp);}
.pet-cards-59{background-image: url(images/cards/CARDS_059.webp);}
.pet-cards-60{background-image: url(images/cards/CARDS_060.webp);}
.pet-cards-61{background-image: url(images/cards/CARDS_061.webp);}
.pet-cards-62{background-image: url(images/cards/CARDS_062.webp);}
.pet-cards-63{background-image: url(images/cards/CARDS_063.webp);}
.pet-cards-64{background-image: url(images/cards/CARDS_064.webp);}
.pet-cards-65{background-image: url(images/cards/CARDS_065.webp);}
.pet-cards-66{background-image: url(images/cards/CARDS_066.webp);}
.pet-cards-67{background-image: url(images/cards/CARDS_067.webp);}
.pet-cards-68{background-image: url(images/cards/CARDS_068.webp);}
.pet-cards-69{background-image: url(images/cards/CARDS_069.webp);}
.pet-cards-70{background-image: url(images/cards/CARDS_070.webp);}
.pet-cards-71{background-image: url(images/cards/CARDS_071.webp);}
.pet-cards-72{background-image: url(images/cards/CARDS_072.webp);}
.pet-cards-73{background-image: url(images/cards/CARDS_073.webp);}
.pet-cards-74{background-image: url(images/cards/CARDS_074.webp);}
.pet-cards-75{background-image: url(images/cards/CARDS_075.webp);}
.pet-cards-76{background-image: url(images/cards/CARDS_076.webp);}
.pet-cards-77{background-image: url(images/cards/CARDS_077.webp);}
.pet-cards-78{background-image: url(images/cards/CARDS_078.webp);}
.pet-cards-79{background-image: url(images/cards/CARDS_079.webp);}
.pet-cards-80{background-image: url(images/cards/CARDS_080.webp);}
.pet-cards-81{background-image: url(images/cards/CARDS_081.webp);}
.pet-cards-82{background-image: url(images/cards/CARDS_082.webp);}
.pet-cards-83{background-image: url(images/cards/CARDS_083.webp);}
.pet-cards-84{background-image: url(images/cards/CARDS_084.webp);}
.pet-cards-85{background-image: url(images/cards/CARDS_085.webp);}
.pet-cards-86{background-image: url(images/cards/CARDS_086.webp);}
.pet-cards-87{background-image: url(images/cards/CARDS_087.webp);}
.pet-cards-88{background-image: url(images/cards/CARDS_088.webp);}
.pet-cards-89{background-image: url(images/cards/CARDS_089.webp);}
.pet-cards-90{background-image: url(images/cards/CARDS_090.webp);}
.pet-cards-91{background-image: url(images/cards/CARDS_091.webp);}
.pet-cards-92{background-image: url(images/cards/CARDS_092.webp);}
.pet-cards-93{background-image: url(images/cards/CARDS_093.webp);}
.pet-cards-94{background-image: url(images/cards/CARDS_094.webp);}
.pet-cards-95{background-image: url(images/cards/CARDS_095.webp);}
.pet-cards-96{background-image: url(images/cards/CARDS_096.webp);}
.pet-cards-97{background-image: url(images/cards/CARDS_097.webp);}
.pet-cards-98{background-image: url(images/cards/CARDS_098.webp);}
.pet-cards-99{background-image: url(images/cards/CARDS_099.webp);}
.property,.subproperty{
	background-image: url(images/CARDFRAME2.webp);
}
.block,
.blockCBp,.block-fire-1,.block-fire-2,
.block-1 .block,.block-3 .block,.block-5 .block,.block-7 .block,.block-9 .block,.block-11 .block,
.block-lock .blockLock{
	background-image: url(images/BLOCK2.webp);
}
.block-1 .blockCBlight,.block-3 .blockCBlight,.block-5 .blockCBlight,.block-7 .blockCBlight,.block-9 .blockCBlight,.block-11 .blockCBlight{
    mask-image: url(images/BLOCK2.webp);
}
.awoken,.type-box{
    background-image: url(images/EGGS.webp);
}