body{
	background-image: url(images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
	color:white;
    text-shadow: 0 0 3px black;
}
dt{
	font-size: 2em;
	color:white;
	background: #B33;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;
	margin-top: 1em;
	margin-bottom: 0.2em;
}
dl dt:first-child
{
	margin-top: 0;
}
table{
	width: 100%;
	background: rgba(255,255,255,0.3);
	border-bottom: 3px solid brown;
	border-collapse:collapse;
}
a{
	text-decoration:none;
}
.icon,.id,.skill-name,.skill-cd,.jx,.bonus{
	border-top: 3px solid brown;
}
.icon{
	width: 110px;
	height: 120px;
	padding-left:5px;
}
.id{
	width: 200px;
}
.skill-name{
	width: 200px;
}
.skill-cd{
	width: 130px;
}
.bonus{
	width: 100px;
}
.id,.name,.skill-name,.skill-cd,.skill-detail,.jx,.bonus{
	border-left: 1px solid brown;
	padding-left: 5px;
}
.name,.skill-detail{
	border-top: 1px solid brown;
}
.icon-in-txt
{
	width:30px;
	height:30px;
}
img{
	vertical-align: middle;
}
.bouns-name{
	width: 50px;
	display: inline-block;
	text-align: right;
}
.bouns-positive{
	color: #FF73B7;
}
.bouns-negative{
	color: rgb(35, 20, 255);
}
.icon-link{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;;
}
/*怪物属性*/
.property,.subproperty{
	position:absolute;
	left:0;top:0;
	width: 100px;
	height: 100px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(images/CARDFRAME2.PNG);
	background-position: 100px 100px; /*都不显示*/
}
.property-0{
	background-position: 0 0; /*火*/
}
.property-1{
	background-position: -102px 0; /*水*/
}
.property-2{
	background-position: -204px 0; /*木*/
}
.property-3{
	background-position: -306px 0; /*光*/
}
.property-4{
	background-position: -408px 0; /*暗*/
}
.subproperty-0{
	background-position: 0 -104px; /*火*/
}
.subproperty-1{
	background-position: -102px -104px; /*水*/
}
.subproperty-2{
	background-position: -204px -104px; /*木*/
}
.subproperty-3{
	background-position: -306px -104px; /*光*/
}
.subproperty-4{
	background-position: -408px -104px; /*暗*/
}
